extends layout

block content
  nav
    ul
      li
        a(href='/books/all') Books
      li
        a(href='patrons/all') Patrons
      li
        a(href='/loans/all') Loans
  body
    h1 New Loan
    include errors
    form(method="post")
      p
        label(for='book_id') Book
        select#book_id(name="book_id")
          each book in data.books  
            option(value= book.id) #{book.title}
      p  
        label(for='patron_id') Patron
        select#patron_id(name='patron_id')
          each patron in data.patrons
            option(value= patron.id) #{patron.fullName()}
          
      p
        label(for='loaned_on') Loaned on:
        input#loaned_on(type='text', name= 'loaned_on', value= moment().format('YYYY-MM-DD')) 
      p
        label(for='return_by') Return by:
        input#return_by(type='text', name= 'return_by', value= moment().add(7, 'day').format('YYYY-MM-DD'))
      p
        input(type='submit', value='Create New Loan')

