extends layout

block content 
  nav
    ul
      li
        a(href='/books/all') Books
      li
        a(href='/patrons/all') Patrons
      li
        a(href='/loans/all') Loans
  body
    h1 Overdue Books
    p
      a.button(href='new_book.html') Create New Book
    p
      | Filters 
      a(href='/books/all') All
      |  | 
      a(href='/books/overdue') Overdue
      |  | 
      a(href='/books/checked_out') Checked Out
    table
      thead
        tr
          th Title
          th Author
          th Genre
          th Year Released
      tbody
        each loan in data  
          tr
            td
              a(href='/books/details/'+ loan.Book.id) #{loan.Book.title} 
            td #{loan.Book.author}
            td #{loan.Book.genre}
            td #{loan.Book.first_published}